*{
    /* background-color: black; */
}

.sect{
    height: 190vh;
    background-color: black;
    margin-top: -48px;
    color: white;
}

.car{
    background-color: black;
    display: flex;
    flex-direction: row;
    margin: 40px;
    margin-top: 100px;
}


img{
    width: 340px;
    height: 200px;
    background-color: black;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    margin-left: 60px;
    margin-right: 60px;
}

.content > h4{
    color: yellow;
}




@media (max-width: 767px) {
    .sect{
        background-color: black;
        width: 100%;
        height: 180vh;
        padding-top: 5px;
    }
    .container {
        width: 100%;
      
    }
  
    .car {
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
     
    }

    .bus{
      display: flex;
      flex-direction: column-reverse;
    }
  
    .car img {
      width: 100%;
      width: 280px; /* Adjust max-width as needed */
      height: 160px;
    }
  
    .content p{
      border: 1px solid white;
      border-radius: 10px;
        width: 280px;
      text-align: center;
    }
  }
  
  
 
  