.footer{
    background-color: black;
    height: 70vh;
    box-sizing: border-box;
    padding-top: 40px;
}

.one{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.two{
    padding-top: 20px;
    display: flex;
    align-items: last baseline;
    justify-content: center;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Media query for mobile devices */
@media only screen and (max-width: 767px) {
    .footer {
        margin-top: 50px;
      max-width: 430px; /* Set the maximum width of the footer section to 400px */
      margin: 0 auto; /* Center the footer horizontally */
      padding: 20px; /* Add padding to the footer for better spacing on mobile */
    }
  
    .one {
      text-align: center; /* Center-align the content within the .one div */
      margin-bottom: 20px; /* Add some margin at the bottom of the .one div */
      display: flex;
      flex-direction: column;
    }
  
    .three {
        text-align: center; /* Center-align the content within the .three div */
        min-width: 350px; /* Set the minimum width of the .three div to 430px */
        white-space: nowrap; /* Prevent wrapping of content */
        margin-top: 50px;
      }
    .d-flex > a{
        max-width: 5px;
    }
  
    .btn {
      width: 200px; /* Set a specific width for the button on mobile */
      margin-top: 10px; /* Add some margin at the top of the button for better spacing */
    }
  
    .social-icons {
      margin-top: 20px; /* Add some margin at the top of the social icons for better spacing */
    }
  
    .social-icons a {
      display: inline-block;
      width: 40px; /* Set a shorter width for the social icons */
      margin: 0 10px; /* Add some margin between social icons */
    }
  }
  
  